In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
data=pd.read_csv(r'Incidents_Responded_to_by_Fire_Companies.csv')
data.head(20)

c:\users\ritvik .knightfall\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (1,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,IM_INCIDENT_KEY,FIRE_BOX,INCIDENT_TYPE_DESC,INCIDENT_DATE_TIME,ARRIVAL_DATE_TIME,UNITS_ONSCENE,LAST_UNIT_CLEARED_DATE_TIME,HIGHEST_LEVEL_DESC,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,...,ZIP_CODE,BOROUGH_DESC,FLOOR,CO_DETECTOR_PRESENT_DESC,FIRE_ORIGIN_BELOW_GRADE_FLAG,STORY_FIRE_ORIGIN_COUNT,FIRE_SPREAD_DESC,DETECTOR_PRESENCE_DESC,AES_PRESENCE_DESC,STANDPIPE_SYS_PRESENT_FLAG
0,55672688,2147,"300 - Rescue, EMS incident, other",01/01/2013 12:00:20 AM,01/01/2013 12:14:23 AM,1.0,01/01/2013 12:20:06 AM,"1 - More than initial alarm, less than Signal 7-5",1186.0,"00 - Action taken, other",...,10454.0,2 - Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55672692,818,735A - Unwarranted alarm/defective condition o...,01/01/2013 12:00:37 AM,01/01/2013 12:09:03 AM,3.0,01/01/2013 12:30:06 AM,"1 - More than initial alarm, less than Signal 7-5",1769.0,86 - Investigate,...,10036.0,1 - Manhattan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55672693,9656,"300 - Rescue, EMS incident, other",01/01/2013 12:01:17 AM,01/01/2013 12:04:55 AM,1.0,01/01/2013 12:15:18 AM,"1 - More than initial alarm, less than Signal 7-5",841.0,"00 - Action taken, other",...,11418.0,5 - Queens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55672695,7412,412 - Gas leak (natural gas or LPG),01/01/2013 12:02:32 AM,01/01/2013 12:07:48 AM,4.0,01/01/2013 12:40:11 AM,"1 - More than initial alarm, less than Signal 7-5",2259.0,44 - Hazardous materials leak control & contai...,...,11103.0,5 - Queens,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55672697,4019,735A - Unwarranted alarm/defective condition o...,01/01/2013 12:01:49 AM,01/01/2013 12:06:27 AM,6.0,01/01/2013 12:24:56 AM,"1 - More than initial alarm, less than Signal 7-5",1387.0,86 - Investigate,...,11385.0,5 - Queens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,55672698,1328,735A - Unwarranted alarm/defective condition o...,01/01/2013 12:02:45 AM,01/01/2013 12:07:55 AM,3.0,01/01/2013 12:18:20 AM,"1 - More than initial alarm, less than Signal 7-5",935.0,86 - Investigate,...,11215.0,4 - Brooklyn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,55672699,688,353 - Removal of victim(s) from stalled elevator,01/01/2013 12:03:55 AM,01/01/2013 12:13:10 AM,1.0,01/01/2013 12:30:33 AM,"1 - More than initial alarm, less than Signal 7-5",1598.0,64 - Shut down system,...,10001.0,1 - Manhattan,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,55672700,9604,"651 - Smoke scare, odor of smoke",01/01/2013 12:04:03 AM,01/01/2013 12:06:19 AM,4.0,01/01/2013 12:11:21 AM,"1 - More than initial alarm, less than Signal 7-5",438.0,86 - Investigate,...,11418.0,5 - Queens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,55672703,2897,"331 - Lock-in (if lock out , use 511 )",01/01/2013 12:04:37 AM,01/01/2013 12:11:02 AM,1.0,01/01/2013 12:23:29 AM,"1 - More than initial alarm, less than Signal 7-5",1132.0,"70 - Assistance, other",...,10472.0,2 - Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,55672705,2602,"710 - Malicious, mischievous false call, other",01/01/2013 12:05:10 AM,01/01/2013 12:08:20 AM,6.0,01/01/2013 12:10:29 AM,"1 - More than initial alarm, less than Signal 7-5",319.0,"00 - Action taken, other",...,11219.0,4 - Brooklyn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,55672708,2275,"555 - Defective elevator, no occupants",01/01/2013 12:04:38 AM,01/01/2013 12:13:25 AM,1.0,01/01/2013 12:16:23 AM,"1 - More than initial alarm, less than Signal 7-5",705.0,45 - Remove hazard,...,10451.0,2 - Bronx,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,55672711,696,735A - Unwarranted alarm/defective condition o...,01/01/2013 12:05:27 AM,01/01/2013 12:09:00 AM,1.0,01/01/2013 12:18:41 AM,"1 - More than initial alarm, less than Signal 7-5",794.0,86 - Investigate,...,10016.0,1 - Manhattan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,55672712,2771,522 - Water or steam leak,01/01/2013 12:05:55 AM,01/01/2013 12:12:21 AM,1.0,01/01/2013 12:15:11 AM,"1 - More than initial alarm, less than Signal 7-5",556.0,64 - Shut down system,...,10452.0,2 - Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,55672716,3197,"150 - Outside rubbish fire, other",01/01/2013 12:07:00 AM,01/01/2013 12:11:19 AM,1.0,01/01/2013 12:16:40 AM,"1 - More than initial alarm, less than Signal 7-5",580.0,11 - Extinguishment by fire service personnel,...,10458.0,2 - Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,55672718,3378,"300 - Rescue, EMS incident, other",01/01/2013 12:08:28 AM,01/01/2013 12:14:01 AM,1.0,01/01/2013 12:22:21 AM,"1 - More than initial alarm, less than Signal 7-5",833.0,"00 - Action taken, other",...,10458.0,2 - Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,55672726,124,522 - Water or steam leak,01/01/2013 12:10:00 AM,01/01/2013 12:13:49 AM,1.0,01/01/2013 12:26:13 AM,"1 - More than initial alarm, less than Signal 7-5",973.0,64 - Shut down system,...,10038.0,1 - Manhattan,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,55672727,4109,735A - Unwarranted alarm/defective condition o...,01/01/2013 12:09:27 AM,01/01/2013 12:12:57 AM,2.0,01/01/2013 01:28:32 AM,"1 - More than initial alarm, less than Signal 7-5",4745.0,86 - Investigate,...,11385.0,5 - Queens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,55672730,3219,"651 - Smoke scare, odor of smoke",01/01/2013 12:10:37 AM,01/01/2013 12:13:49 AM,6.0,01/01/2013 12:24:12 AM,"1 - More than initial alarm, less than Signal 7-5",815.0,"00 - Action taken, other",...,10462.0,2 - Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,55672738,1354,"331 - Lock-in (if lock out , use 511 )",01/01/2013 12:11:33 AM,01/01/2013 12:14:32 AM,1.0,01/01/2013 12:21:01 AM,"1 - More than initial alarm, less than Signal 7-5",568.0,"70 - Assistance, other",...,11231.0,4 - Brooklyn,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,55672739,2774,"651 - Smoke scare, odor of smoke",01/01/2013 12:11:03 AM,01/01/2013 12:16:49 AM,5.0,01/01/2013 12:27:46 AM,"1 - More than initial alarm, less than Signal 7-5",1003.0,"00 - Action taken, other",...,10452.0,2 - Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df=pd.DataFrame(data, columns= ['IM_INCIDENT_KEY', 'INCIDENT_TYPE_DESC'])
print(df.head(20))

    IM_INCIDENT_KEY                                 INCIDENT_TYPE_DESC
0          55672688                  300 - Rescue, EMS incident, other
1          55672692  735A - Unwarranted alarm/defective condition o...
2          55672693                  300 - Rescue, EMS incident, other
3          55672695                412 - Gas leak (natural gas or LPG)
4          55672697  735A - Unwarranted alarm/defective condition o...
5          55672698  735A - Unwarranted alarm/defective condition o...
6          55672699   353 - Removal of victim(s) from stalled elevator
7          55672700                   651 - Smoke scare, odor of smoke
8          55672703             331 - Lock-in (if lock out , use 511 )
9          55672705     710 - Malicious, mischievous false call, other
10         55672708             555 - Defective elevator, no occupants
11         55672711  735A - Unwarranted alarm/defective condition o...
12         55672712                          522 - Water or steam leak
13         55672716                  150 - Outside rubbish fire, other
14         55672718                  300 - Rescue, EMS incident, other
15         55672726                          522 - Water or steam leak
16         55672727  735A - Unwarranted alarm/defective condition o...
17         55672730                   651 - Smoke scare, odor of smoke
18         55672738             331 - Lock-in (if lock out , use 511 )
19         55672739                   651 - Smoke scare, odor of smoke

In [5]:
df1=pd.DataFrame(data, columns= ['INCIDENT_TYPE_DESC'])
df1.sum(axis=1, skipna=False)

0                          300 - Rescue, EMS incident, other
1          735A - Unwarranted alarm/defective condition o...
2                          300 - Rescue, EMS incident, other
3                        412 - Gas leak (natural gas or LPG)
4          735A - Unwarranted alarm/defective condition o...
                                 ...
2518753                  412 - Gas leak (natural gas or LPG)
2518754                     651 - Smoke scare, odor of smoke
2518755    117 - Commercial Compactor fire, confined to r...
2518756                    300 - Rescue, EMS incident, other
2518757     746 - Carbon monoxide detector activation, no CO
Length: 2518758, dtype: object

In [69]:
import re as re

In [7]:
type(df1)

pandas.core.frame.DataFrame

In [8]:
df1['INCIDENT_CODE']= df['INCIDENT_TYPE_DESC'].str.extract(r'(\d{3})')
df1.head(20)

                                   INCIDENT_TYPE_DESC INCIDENT_CODE
0                   300 - Rescue, EMS incident, other           300
1   735A - Unwarranted alarm/defective condition o...           735
2                   300 - Rescue, EMS incident, other           300
3                 412 - Gas leak (natural gas or LPG)           412
4   735A - Unwarranted alarm/defective condition o...           735
5   735A - Unwarranted alarm/defective condition o...           735
6    353 - Removal of victim(s) from stalled elevator           353
7                    651 - Smoke scare, odor of smoke           651
8              331 - Lock-in (if lock out , use 511 )           331
9      710 - Malicious, mischievous false call, other           710
10             555 - Defective elevator, no occupants           555
11  735A - Unwarranted alarm/defective condition o...           735
12                          522 - Water or steam leak           522
13                  150 - Outside rubbish fire, other           150
14                  300 - Rescue, EMS incident, other           300
15                          522 - Water or steam leak           522
16  735A - Unwarranted alarm/defective condition o...           735
17                   651 - Smoke scare, odor of smoke           651
18             331 - Lock-in (if lock out , use 511 )           331
19                   651 - Smoke scare, odor of smoke           651

In [9]:
df1.INCIDENT_CODE.value_counts()

300    906466
651    161886
735    132414
353    131509
710    129466
        ...
135         3
170         3
136         2
173         2
172         1
Name: INCIDENT_CODE, Length: 173, dtype: int64

In [10]:
code_counts = df1['INCIDENT_CODE'].value_counts()
common_inc_code = code_counts.max()
print(common_inc_code)

906466

In [11]:
df1.sum(axis=1, skipna=True)
#total_count= df1['INCIDENT_CODE'].sum()
#print(total_count)

0                       300 - Rescue, EMS incident, other300
1          735A - Unwarranted alarm/defective condition o...
2                       300 - Rescue, EMS incident, other300
3                     412 - Gas leak (natural gas or LPG)412
4          735A - Unwarranted alarm/defective condition o...
                                 ...
2518753               412 - Gas leak (natural gas or LPG)412
2518754                  651 - Smoke scare, odor of smoke651
2518755    117 - Commercial Compactor fire, confined to r...
2518756                 300 - Rescue, EMS incident, other300
2518757    746 - Carbon monoxide detector activation, no ...
Length: 2518758, dtype: object

In [12]:
'''What is the ratio of the average number of units that arrive to a scene of an incident classified as '111 - 
Building fire' to the number that arrive for '651 - Smoke scare, odor of smoke'?'''
#df=pd.DataFrame(data, columns= ['IM_INCIDENT_KEY', 'INCIDENT_TYPE_DESC'])
df2=pd.DataFrame(data, columns= ['UNITS_ONSCENE'])
df2.head(10)

   UNITS_ONSCENE
0            1.0
1            3.0
2            1.0
3            4.0
4            6.0
5            3.0
6            1.0
7            4.0
8            1.0
9            6.0

In [13]:
common_incident_prop= common_inc_code #variable stores the proportion of the most frequent occuring incident to the total 
print(common_incident_prop)

906466

In [14]:
#Merging dataframe df1 & df2
df_merged=pd.concat([df1,df2], axis=1)
df_merged.head(20)

,INCIDENT_TYPE_DESC,INCIDENT_CODE,UNITS_ONSCENE
0,"300 - Rescue, EMS incident, other",300,1.0
1,735A - Unwarranted alarm/defective condition o...,735,3.0
2,"300 - Rescue, EMS incident, other",300,1.0
3,412 - Gas leak (natural gas or LPG),412,4.0
4,735A - Unwarranted alarm/defective condition o...,735,6.0
5,735A - Unwarranted alarm/defective condition o...,735,3.0
6,353 - Removal of victim(s) from stalled elevator,353,1.0
7,"651 - Smoke scare, odor of smoke",651,4.0
8,"331 - Lock-in (if lock out , use 511 )",331,1.0
9,"710 - Malicious, mischievous false call, other",710,6.0
10,"555 - Defective elevator, no occupants",555,1.0
11,735A - Unwarranted alarm/defective condition o...,735,1.0
12,522 - Water or steam leak,522,1.0
13,"150 - Outside rubbish fire, other",150,1.0
14,"300 - Rescue, EMS incident, other",300,1.0
15,522 - Water or steam leak,522,1.0
16,735A - Unwarranted alarm/defective condition o...,735,2.0
17,"651 - Smoke scare, odor of smoke",651,6.0
18,"331 - Lock-in (if lock out , use 511 )",331,1.0
19,"651 - Smoke scare, odor of smoke",651,5.0

In [15]:
df_merged['INCIDENT_CODE'].value_counts()
#df_merged['INCIDENT_CODE'].head(20)

300    906466
651    161886
735    132414
353    131509
710    129466
        ...
135         3
170         3
136         2
173         2
172         1
Name: INCIDENT_CODE, Length: 173, dtype: int64

In [16]:
sum_651=df_merged.loc[df_merged['INCIDENT_CODE'] =='651', 'UNITS_ONSCENE'].sum()
print(sum_651)

644625.0

In [17]:
sum_111=df_merged.loc[df_merged['INCIDENT_CODE'] =='111', 'UNITS_ONSCENE'].sum()
print(sum_111)

157620.0

In [18]:
#print len(df[df['education'] == '9th'])
count_651=len(df_merged[df_merged['INCIDENT_CODE']== '651'])
print(count_651)

161886

In [19]:
count_111=len(df_merged[df_merged['INCIDENT_CODE']== '111'])
print(count_111)

14202

In [20]:
avg_units_651= sum_651/count_651
print('Average units called for 651: ', avg_units_651)
avg_units_111= sum_111/count_111
print('Average units called for 111: ', avg_units_111)

#Ratio of avg num of units called for a CODE 111 to CODE 651
ratio_of_avg= avg_units_111/avg_units_651
print('Ratio of avg num of units called for a CODE 111 to CODE 651: ', ratio_of_avg)

Average units called for 651:  3.981968792854231
Average units called for 111:  11.098436839881707
Ratio of avg num of units called for a CODE 111 to CODE 651:  2.787173234455831

In [21]:
#How many times more likely is an incident in Staten Island a false call compared to in Manhattan?
#Creating a new dataframe for giving a clear view of the data being used
df3=pd.DataFrame(data, columns= (['BOROUGH_DESC']))
df3=pd.concat([df1,df3], axis=1)
print(df3.head(20))

                                   INCIDENT_TYPE_DESC INCIDENT_CODE  \
0                   300 - Rescue, EMS incident, other           300
1   735A - Unwarranted alarm/defective condition o...           735
2                   300 - Rescue, EMS incident, other           300
3                 412 - Gas leak (natural gas or LPG)           412
4   735A - Unwarranted alarm/defective condition o...           735
5   735A - Unwarranted alarm/defective condition o...           735
6    353 - Removal of victim(s) from stalled elevator           353
7                    651 - Smoke scare, odor of smoke           651
8              331 - Lock-in (if lock out , use 511 )           331
9      710 - Malicious, mischievous false call, other           710
10             555 - Defective elevator, no occupants           555
11  735A - Unwarranted alarm/defective condition o...           735
12                          522 - Water or steam leak           522
13                  150 - Outside rubbish fire, other           150
14                  300 - Rescue, EMS incident, other           300
15                          522 - Water or steam leak           522
16  735A - Unwarranted alarm/defective condition o...           735
17                   651 - Smoke scare, odor of smoke           651
18             331 - Lock-in (if lock out , use 511 )           331
19                   651 - Smoke scare, odor of smoke           651

     BOROUGH_DESC
0       2 - Bronx
1   1 - Manhattan
2      5 - Queens
3      5 - Queens
4      5 - Queens
5    4 - Brooklyn
6   1 - Manhattan
7      5 - Queens
8       2 - Bronx
9    4 - Brooklyn
10      2 - Bronx
11  1 - Manhattan
12      2 - Bronx
13      2 - Bronx
14      2 - Bronx
15  1 - Manhattan
16     5 - Queens
17      2 - Bronx
18   4 - Brooklyn
19      2 - Bronx

In [22]:
#False Call Rate for Staten Island
count_staten= len(df3[(df3.BOROUGH_DESC== '3 - Staten Island')])
print('Total calls from Staten Island: ', count_staten)

false_count_staten= len(df3[(df3.BOROUGH_DESC =='3 - Staten Island') & (df3.INCIDENT_CODE == '710')])
print('False calls from Staten Island: ', false_count_staten)

false_rt_staten= false_count_staten/count_staten
print('False call rate from Staten Island: ', false_rt_staten)


#False Call Rate for Manhattan
count_manhattan= len(df3[(df3.BOROUGH_DESC== '1 - Manhattan')])
print('Total calls from Manhattan: ', count_manhattan)

false_count_manhattan= len(df3[(df3.BOROUGH_DESC =='1 - Manhattan') & (df3.INCIDENT_CODE == '710')])
print('False calls from Manhattan: ', false_count_manhattan)

false_rt_manhattan= false_count_manhattan/count_manhattan
print('False call rate from Manhattan: ', false_rt_manhattan)

Total calls from Staten Island:  130631
False calls from Staten Island:  8989
False call rate from Staten Island:  0.06881215025529928
Total calls from Manhattan:  641825
False calls from Manhattan:  27551
False call rate from Manhattan:  0.04292603123904491

In [23]:
#Ratio of false call rates from Staten Island to Manhattan
false_rate= false_rt_staten/false_rt_manhattan
print('Ratio of False Call Rates of Staten Island to that of Manhattan: ', false_rate)

Ratio of False Call Rates of Staten Island to that of Manhattan:  1.6030401196910262

In [24]:
df4= pd.DataFrame(data, columns= ['INCIDENT_DATE_TIME', 'ARRIVAL_DATE_TIME'])
df4.head(20)

        INCIDENT_DATE_TIME       ARRIVAL_DATE_TIME
0   01/01/2013 12:00:20 AM  01/01/2013 12:14:23 AM
1   01/01/2013 12:00:37 AM  01/01/2013 12:09:03 AM
2   01/01/2013 12:01:17 AM  01/01/2013 12:04:55 AM
3   01/01/2013 12:02:32 AM  01/01/2013 12:07:48 AM
4   01/01/2013 12:01:49 AM  01/01/2013 12:06:27 AM
5   01/01/2013 12:02:45 AM  01/01/2013 12:07:55 AM
6   01/01/2013 12:03:55 AM  01/01/2013 12:13:10 AM
7   01/01/2013 12:04:03 AM  01/01/2013 12:06:19 AM
8   01/01/2013 12:04:37 AM  01/01/2013 12:11:02 AM
9   01/01/2013 12:05:10 AM  01/01/2013 12:08:20 AM
10  01/01/2013 12:04:38 AM  01/01/2013 12:13:25 AM
11  01/01/2013 12:05:27 AM  01/01/2013 12:09:00 AM
12  01/01/2013 12:05:55 AM  01/01/2013 12:12:21 AM
13  01/01/2013 12:07:00 AM  01/01/2013 12:11:19 AM
14  01/01/2013 12:08:28 AM  01/01/2013 12:14:01 AM
15  01/01/2013 12:10:00 AM  01/01/2013 12:13:49 AM
16  01/01/2013 12:09:27 AM  01/01/2013 12:12:57 AM
17  01/01/2013 12:10:37 AM  01/01/2013 12:13:49 AM
18  01/01/2013 12:11:33 AM  01/01/2013 12:14:32 AM
19  01/01/2013 12:11:03 AM  01/01/2013 12:16:49 AM

In [25]:
#df1['INCIDENT_CODE']= df['INCIDENT_TYPE_DESC'].str.extract(r'(\d{3})')
#df1.head(20) df['time'] = pd.to_datetime(df['datetime']).dt.time
import datetime as dt

In [32]:
#df['date_col'] = pd.to_datetime(df['date_col'])
#print(df['date_col'].dt.time)

#df4['INCIDENT_DATE_TIME']=pd.to_datetime(df4['INCIDENT_DATE_TIME'])
2+2

4

In [ ]:
#df4['INCIDENT_TIME']= pd.to_datetime(df4['INCIDENT_DATE_TIME']).dt.time
4*5

In [40]:
df4['INCIDENT_DATE_TIME']= pd.to_datetime(df4['INCIDENT_DATE_TIME'])

In [42]:
df4.head(10)

   INCIDENT_DATE_TIME       ARRIVAL_DATE_TIME       INCIDENT_TIME ARRIVAL_TIME
0 2013-01-01 00:00:20  01/01/2013 12:14:23 AM 2013-01-01 00:00:20     00:14:23
1 2013-01-01 00:00:37  01/01/2013 12:09:03 AM 2013-01-01 00:00:37     00:09:03
2 2013-01-01 00:01:17  01/01/2013 12:04:55 AM 2013-01-01 00:01:17     00:04:55
3 2013-01-01 00:02:32  01/01/2013 12:07:48 AM 2013-01-01 00:02:32     00:07:48
4 2013-01-01 00:01:49  01/01/2013 12:06:27 AM 2013-01-01 00:01:49     00:06:27
5 2013-01-01 00:02:45  01/01/2013 12:07:55 AM 2013-01-01 00:02:45     00:07:55
6 2013-01-01 00:03:55  01/01/2013 12:13:10 AM 2013-01-01 00:03:55     00:13:10
7 2013-01-01 00:04:03  01/01/2013 12:06:19 AM 2013-01-01 00:04:03     00:06:19
8 2013-01-01 00:04:37  01/01/2013 12:11:02 AM 2013-01-01 00:04:37     00:11:02
9 2013-01-01 00:05:10  01/01/2013 12:08:20 AM 2013-01-01 00:05:10     00:08:20

In [43]:
df4['ARRIVAL_DATE_TIME']=pd.to_datetime(df4['ARRIVAL_DATE_TIME'])

In [44]:
df4.head(10)

   INCIDENT_DATE_TIME   ARRIVAL_DATE_TIME       INCIDENT_TIME ARRIVAL_TIME
0 2013-01-01 00:00:20 2013-01-01 00:14:23 2013-01-01 00:00:20     00:14:23
1 2013-01-01 00:00:37 2013-01-01 00:09:03 2013-01-01 00:00:37     00:09:03
2 2013-01-01 00:01:17 2013-01-01 00:04:55 2013-01-01 00:01:17     00:04:55
3 2013-01-01 00:02:32 2013-01-01 00:07:48 2013-01-01 00:02:32     00:07:48
4 2013-01-01 00:01:49 2013-01-01 00:06:27 2013-01-01 00:01:49     00:06:27
5 2013-01-01 00:02:45 2013-01-01 00:07:55 2013-01-01 00:02:45     00:07:55
6 2013-01-01 00:03:55 2013-01-01 00:13:10 2013-01-01 00:03:55     00:13:10
7 2013-01-01 00:04:03 2013-01-01 00:06:19 2013-01-01 00:04:03     00:06:19
8 2013-01-01 00:04:37 2013-01-01 00:11:02 2013-01-01 00:04:37     00:11:02
9 2013-01-01 00:05:10 2013-01-01 00:08:20 2013-01-01 00:05:10     00:08:20

In [62]:
infer_datetime_format=True
df4['INCIDENT_DATE_TIME'] = pd.to_datetime(df4['INCIDENT_DATE_TIME'], format=infer_datetime_format, errors='coerce')
df4['ARRIVAL_DATE_TIME'] = pd.to_datetime(df4['ARRIVAL_DATE_TIME'], format=infer_datetime_format, errors='coerce')
#error=coerce turn unrecognized dates to become Nat (Not a Time)

df4['DIFF_IN_TIME']= df4.ARRIVAL_DATE_TIME - df4.INCIDENT_DATE_TIME

print('STARTING OF DATAFRAME:\n', df4.head(15))
print('\n')
print('ENDING OF DATAFRAME:\n', df4.tail(15))

STARTING OF DATAFRAME:
     INCIDENT_DATE_TIME   ARRIVAL_DATE_TIME       INCIDENT_TIME ARRIVAL_TIME  \
0  2013-01-01 00:00:20 2013-01-01 00:14:23 2013-01-01 00:00:20     00:14:23
1  2013-01-01 00:00:37 2013-01-01 00:09:03 2013-01-01 00:00:37     00:09:03
2  2013-01-01 00:01:17 2013-01-01 00:04:55 2013-01-01 00:01:17     00:04:55
3  2013-01-01 00:02:32 2013-01-01 00:07:48 2013-01-01 00:02:32     00:07:48
4  2013-01-01 00:01:49 2013-01-01 00:06:27 2013-01-01 00:01:49     00:06:27
5  2013-01-01 00:02:45 2013-01-01 00:07:55 2013-01-01 00:02:45     00:07:55
6  2013-01-01 00:03:55 2013-01-01 00:13:10 2013-01-01 00:03:55     00:13:10
7  2013-01-01 00:04:03 2013-01-01 00:06:19 2013-01-01 00:04:03     00:06:19
8  2013-01-01 00:04:37 2013-01-01 00:11:02 2013-01-01 00:04:37     00:11:02
9  2013-01-01 00:05:10 2013-01-01 00:08:20 2013-01-01 00:05:10     00:08:20
10 2013-01-01 00:04:38 2013-01-01 00:13:25 2013-01-01 00:04:38     00:13:25
11 2013-01-01 00:05:27 2013-01-01 00:09:00 2013-01-01 00:05:27     00:09:00
12 2013-01-01 00:05:55 2013-01-01 00:12:21 2013-01-01 00:05:55     00:12:21
13 2013-01-01 00:07:00 2013-01-01 00:11:19 2013-01-01 00:07:00     00:11:19
14 2013-01-01 00:08:28 2013-01-01 00:14:01 2013-01-01 00:08:28     00:14:01

      DIFF_IN_TIME
0  0 days 00:14:03
1  0 days 00:08:26
2  0 days 00:03:38
3  0 days 00:05:16
4  0 days 00:04:38
5  0 days 00:05:10
6  0 days 00:09:15
7  0 days 00:02:16
8  0 days 00:06:25
9  0 days 00:03:10
10 0 days 00:08:47
11 0 days 00:03:33
12 0 days 00:06:26
13 0 days 00:04:19
14 0 days 00:05:33


ENDING OF DATAFRAME:
          INCIDENT_DATE_TIME   ARRIVAL_DATE_TIME       INCIDENT_TIME  \
2518743 2018-06-30 23:44:08 2018-06-30 23:48:41 2018-06-30 23:44:08
2518744 2018-06-30 23:45:07 2018-06-30 23:48:46 2018-06-30 23:45:07
2518745 2018-06-30 23:46:29 2018-06-30 23:51:00 2018-06-30 23:46:29
2518746 2018-06-30 23:45:50 2018-06-30 23:56:02 2018-06-30 23:45:50
2518747 2018-06-30 23:47:33 2018-06-30 23:51:00 2018-06-30 23:47:33
2518748 2018-06-30 23:47:37 2018-06-30 23:53:16 2018-06-30 23:47:37
2518749 2018-06-30 23:48:39 2018-06-30 23:56:26 2018-06-30 23:48:39
2518750 2018-06-30 23:49:05 2018-06-30 23:55:33 2018-06-30 23:49:05
2518751 2018-06-30 23:53:30 2018-06-30 23:57:48 2018-06-30 23:53:30
2518752 2018-06-30 23:53:33 2018-06-30 23:56:50 2018-06-30 23:53:33
2518753 2018-06-30 23:52:35                 NaT 2018-06-30 23:52:35
2518754 2018-06-30 23:54:13 2018-06-30 23:58:29 2018-06-30 23:54:13
2518755 2018-06-30 23:54:08 2018-06-30 23:58:53 2018-06-30 23:54:08
2518756 2018-06-30 23:54:44 2018-06-30 23:58:59 2018-06-30 23:54:44
2518757 2018-06-30 23:55:29 2018-07-01 00:00:32 2018-06-30 23:55:29

        ARRIVAL_TIME    DIFF_IN_TIME
2518743     23:48:41 0 days 00:04:33
2518744     23:48:46 0 days 00:03:39
2518745     23:51:00 0 days 00:04:31
2518746     23:56:02 0 days 00:10:12
2518747     23:51:00 0 days 00:03:27
2518748     23:53:16 0 days 00:05:39
2518749     23:56:26 0 days 00:07:47
2518750     23:55:33 0 days 00:06:28
2518751     23:57:48 0 days 00:04:18
2518752     23:56:50 0 days 00:03:17
2518753          NaT             NaT
2518754     23:58:29 0 days 00:04:16
2518755     23:58:53 0 days 00:04:45
2518756     23:58:59 0 days 00:04:15
2518757     00:00:32 0 days 00:05:03

In [79]:
print(df4.head(10))

   INCIDENT_DATE_TIME   ARRIVAL_DATE_TIME       INCIDENT_TIME ARRIVAL_TIME  \
0 2013-01-01 00:00:20 2013-01-01 00:14:23 2013-01-01 00:00:20     00:14:23
1 2013-01-01 00:00:37 2013-01-01 00:09:03 2013-01-01 00:00:37     00:09:03
2 2013-01-01 00:01:17 2013-01-01 00:04:55 2013-01-01 00:01:17     00:04:55
3 2013-01-01 00:02:32 2013-01-01 00:07:48 2013-01-01 00:02:32     00:07:48
4 2013-01-01 00:01:49 2013-01-01 00:06:27 2013-01-01 00:01:49     00:06:27
5 2013-01-01 00:02:45 2013-01-01 00:07:55 2013-01-01 00:02:45     00:07:55
6 2013-01-01 00:03:55 2013-01-01 00:13:10 2013-01-01 00:03:55     00:13:10
7 2013-01-01 00:04:03 2013-01-01 00:06:19 2013-01-01 00:04:03     00:06:19
8 2013-01-01 00:04:37 2013-01-01 00:11:02 2013-01-01 00:04:37     00:11:02
9 2013-01-01 00:05:10 2013-01-01 00:08:20 2013-01-01 00:05:10     00:08:20

     DIFF_IN_TIME
0 0 days 00:14:03
1 0 days 00:08:26
2 0 days 00:03:38
3 0 days 00:05:16
4 0 days 00:04:38
5 0 days 00:05:10
6 0 days 00:09:15
7 0 days 00:02:16
8 0 days 00:06:25
9 0 days 00:03:10

In [80]:
df4['INCIDENT_TIME']=pd.to_datetime(df4['INCIDENT_TIME']).dt.time

In [81]:
df4.head(10)

,INCIDENT_DATE_TIME,ARRIVAL_DATE_TIME,INCIDENT_TIME,ARRIVAL_TIME,DIFF_IN_TIME
0,2013-01-01 00:00:20,2013-01-01 00:14:23,00:00:20,00:14:23,0 days 00:14:03
1,2013-01-01 00:00:37,2013-01-01 00:09:03,00:00:37,00:09:03,0 days 00:08:26
2,2013-01-01 00:01:17,2013-01-01 00:04:55,00:01:17,00:04:55,0 days 00:03:38
3,2013-01-01 00:02:32,2013-01-01 00:07:48,00:02:32,00:07:48,0 days 00:05:16
4,2013-01-01 00:01:49,2013-01-01 00:06:27,00:01:49,00:06:27,0 days 00:04:38
5,2013-01-01 00:02:45,2013-01-01 00:07:55,00:02:45,00:07:55,0 days 00:05:10
6,2013-01-01 00:03:55,2013-01-01 00:13:10,00:03:55,00:13:10,0 days 00:09:15
7,2013-01-01 00:04:03,2013-01-01 00:06:19,00:04:03,00:06:19,0 days 00:02:16
8,2013-01-01 00:04:37,2013-01-01 00:11:02,00:04:37,00:11:02,0 days 00:06:25
9,2013-01-01 00:05:10,2013-01-01 00:08:20,00:05:10,00:08:20,0 days 00:03:10

In [106]:
#df['diff_seconds']=df['diff_seconds']/np.timedelta64(1,'s')
df4['DIFF_seconds']=df4['DIFF_IN_TIME']/np.timedelta64(1, 's')
df4['DIFF_minutes']=df4['DIFF_IN_TIME']/np.timedelta64(1, 'm')

In [107]:
df4.head(10)

,INCIDENT_DATE_TIME,ARRIVAL_DATE_TIME,INCIDENT_TIME,ARRIVAL_TIME,DIFF_IN_TIME,DIFF_seconds,DIFF_minutes
0,2013-01-01 00:00:20,2013-01-01 00:14:23,00:00:20,00:14:23,0 days 00:14:03,843.0,14.050000
1,2013-01-01 00:00:37,2013-01-01 00:09:03,00:00:37,00:09:03,0 days 00:08:26,506.0,8.433333
2,2013-01-01 00:01:17,2013-01-01 00:04:55,00:01:17,00:04:55,0 days 00:03:38,218.0,3.633333
3,2013-01-01 00:02:32,2013-01-01 00:07:48,00:02:32,00:07:48,0 days 00:05:16,316.0,5.266667
4,2013-01-01 00:01:49,2013-01-01 00:06:27,00:01:49,00:06:27,0 days 00:04:38,278.0,4.633333
5,2013-01-01 00:02:45,2013-01-01 00:07:55,00:02:45,00:07:55,0 days 00:05:10,310.0,5.166667
6,2013-01-01 00:03:55,2013-01-01 00:13:10,00:03:55,00:13:10,0 days 00:09:15,555.0,9.250000
7,2013-01-01 00:04:03,2013-01-01 00:06:19,00:04:03,00:06:19,0 days 00:02:16,136.0,2.266667
8,2013-01-01 00:04:37,2013-01-01 00:11:02,00:04:37,00:11:02,0 days 00:06:25,385.0,6.416667
9,2013-01-01 00:05:10,2013-01-01 00:08:20,00:05:10,00:08:20,0 days 00:03:10,190.0,3.166667

In [112]:
df_merge2=pd.concat([df3['INCIDENT_CODE'], df4], axis=1)

In [113]:
print(df_merge2)

        INCIDENT_CODE  INCIDENT_DATE_TIME   ARRIVAL_DATE_TIME INCIDENT_TIME  \
0                 300 2013-01-01 00:00:20 2013-01-01 00:14:23      00:00:20
1                 735 2013-01-01 00:00:37 2013-01-01 00:09:03      00:00:37
2                 300 2013-01-01 00:01:17 2013-01-01 00:04:55      00:01:17
3                 412 2013-01-01 00:02:32 2013-01-01 00:07:48      00:02:32
4                 735 2013-01-01 00:01:49 2013-01-01 00:06:27      00:01:49
...               ...                 ...                 ...           ...
2518753           412 2018-06-30 23:52:35                 NaT      23:52:35
2518754           651 2018-06-30 23:54:13 2018-06-30 23:58:29      23:54:13
2518755           117 2018-06-30 23:54:08 2018-06-30 23:58:53      23:54:08
2518756           300 2018-06-30 23:54:44 2018-06-30 23:58:59      23:54:44
2518757           746 2018-06-30 23:55:29 2018-07-01 00:00:32      23:55:29

        ARRIVAL_TIME    DIFF_IN_TIME  DIFF_seconds  DIFF_minutes
0           00:14:23 0 days 00:14:03         843.0     14.050000
1           00:09:03 0 days 00:08:26         506.0      8.433333
2           00:04:55 0 days 00:03:38         218.0      3.633333
3           00:07:48 0 days 00:05:16         316.0      5.266667
4           00:06:27 0 days 00:04:38         278.0      4.633333
...              ...             ...           ...           ...
2518753          NaT             NaT           NaN           NaN
2518754     23:58:29 0 days 00:04:16         256.0      4.266667
2518755     23:58:53 0 days 00:04:45         285.0      4.750000
2518756     23:58:59 0 days 00:04:15         255.0      4.250000
2518757     00:00:32 0 days 00:05:03         303.0      5.050000

[2518758 rows x 8 columns]

In [116]:
#false_count_staten= len(df3[(df3.BOROUGH_DESC =='3 - Staten Island') & (df3.INCIDENT_CODE == '710')])
#print('False calls from Staten Island: ', false_count_staten)
code111=df_merge2[df_merge2['INCIDENT_CODE']=='111']
print(code111)

        INCIDENT_CODE  INCIDENT_DATE_TIME   ARRIVAL_DATE_TIME INCIDENT_TIME  \
91                111 2013-01-01 00:58:10 2013-01-01 01:00:50      00:58:10
199               111 2013-01-01 02:22:56 2013-01-01 02:25:23      02:22:56
440               111 2013-01-01 06:20:49 2013-01-01 06:26:13      06:20:49
492               111 2013-01-01 07:59:48 2013-01-01 08:03:33      07:59:48
569               111 2013-01-01 09:47:27 2013-01-01 09:49:25      09:47:27
...               ...                 ...                 ...           ...
2517681           111 2018-06-30 10:36:51 2018-06-30 10:39:36      10:36:51
2517770           111 2018-06-30 12:00:32 2018-06-30 12:03:48      12:00:32
2518063           111 2018-06-30 15:48:42 2018-06-30 15:52:25      15:48:42
2518123           111 2018-06-30 16:45:17 2018-06-30 16:49:52      16:45:17
2518263           111 2018-06-30 18:20:20 2018-06-30 18:24:00      18:20:20

        ARRIVAL_TIME    DIFF_IN_TIME  DIFF_seconds  DIFF_minutes
91          01:00:50 0 days 00:02:40         160.0      2.666667
199         02:25:23 0 days 00:02:27         147.0      2.450000
440         06:26:13 0 days 00:05:24         324.0      5.400000
492         08:03:33 0 days 00:03:45         225.0      3.750000
569         09:49:25 0 days 00:01:58         118.0      1.966667
...              ...             ...           ...           ...
2517681     10:39:36 0 days 00:02:45         165.0      2.750000
2517770     12:03:48 0 days 00:03:16         196.0      3.266667
2518063     15:52:25 0 days 00:03:43         223.0      3.716667
2518123     16:49:52 0 days 00:04:35         275.0      4.583333
2518263     18:24:00 0 days 00:03:40         220.0      3.666667

[14202 rows x 8 columns]

In [119]:
#np.percentile(code111, 75)

df_merge2[['DIFF_seconds', 'DIFF_minutes']]= df_merge2[['DIFF_seconds', 'DIFF_minutes']].apply(pd.to_numeric)

In [121]:
code111.DIFF_seconds.quantile(0.75)

250.0

In [124]:
#3rd quartile of the distribution for code 111
quartile3=code111.DIFF_minutes.quantile(0.75)
print(quartile3)

4.166666666666667

In [ ]:
#For calculating Coefficient of determination